<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigun.wifioscilloscope"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="27" />

    <application
        android:name="com.bigun.wifioscilloscope.BigunApp"
        android:allowBackup="true"
        android:icon="@drawable/wfdso"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bigun.wifioscilloscope.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.bigun.wifioscilloscope.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

        </activity>

        <activity
            android:name="com.bigun.wifioscilloscope.activity.AgreementActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

        </activity>

        <activity
            android:name="com.bigun.wifioscilloscope.activity.TestActivity"
            android:label="@string/title_activity_test" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

</manifest>